html,
body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height:18px;
}

/*@font-face {
    font-weight: normal;
    font-style: normal;

    font-family: "Roboto";
      src: url("../fonts/roboto.woff") format("woff"),
         url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "RobotoMedium";
      src: url("../fonts/robotomedium.woff") format("woff"),
         url("../fonts/robotomedium.woff2") format("woff2");
}*/

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

/*ХЭДЭР С МЕНЮ*/

header{
    background-color: #eeeeee;
    min-height: 545px;
    margin-bottom: 60px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 0 20px;
}

.logo {
/*
  float: left;
  width: 300px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
*/
}

.main-logo {
    float: left;
    margin-top: 50px;
    margin-right: 160px;
    background: none;
}

.menu {
    float: left;
    width: 680px;
}

.menu a::hover {
   color: #fb565a;
}

.menu-item {
    float: left;
    position: relative;
    margin-top: 60px;
    margin-right: 15px;
    padding-right: 45px;
    list-style: none;
    font-size: 16px;
    line-height: 28px;
}

.menu-item a{
    text-transform: uppercase;
}

.menu-item .active a{
    border-bottom: 20px;
}

.menu-caddy {
    padding-top: 15px;
    padding-left: 20px;
}

.menu-caddy::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: -10px;
    top: 21px;
    background-image: url("../img/basket-icon.png");
    background-repeat: no-repeat;
    padding-left: 40px;
  }

.menu-item ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.menu-item li{
    display: inline-block;
/*  vertical-aline: top;*/
    font-size: 16px;
    list-style: none;
    line-height: 30px;
}

.menu-item a {
    display: block;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

/*.features-item b, p{
    background-color: #eeeeee;
}*/

.page-title {
    padding-left: 50px;
}

.page-title h1 {
    font-size: 55px;
}

.features-item {
    float: left;
    width: 360px;
}

.main-header {
    margin-bottom: 80px;
}

/*бегунок*/

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 155px;
}

.price-controls {
    font-size: 0;
    margin-bottom: 140px;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    width: 50px;
    margin-left: 10px;
    padding: 8px 20px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
/*конец бегунка*/
/*слайдер*/
.slider{
    position:relative;
    width:1160px;
    height:310px;
    margin:0 auto;
}

.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls i{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

.slider-controls .active{
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    display: none;
    padding-bottom: 30px;
}

.slide.active{
    display: block;
}
.slide-text{
    float: left;
    width:380px;
    padding:30px 0;
    color:#000000;
    background-color: #eeeeee;
    margin-right: 80px;
}
.slide-title{
    font-size:55px;
    line-height: 55px;
    line-height:1;
    font-weight:400;
    color:#000000;
    background-color: #eeeeee;
    margin-bottom: 25px;
}

.slide-title p{
    font-size:16px;
    line-height:18px;
}

.slide p{
    background-color: #eeeeee;
    margin-bottom: 40px;
}

.slide .btn{
    display:block;
    width:240px;
    padding:15px 0;
    margin-top:25px;
    font-size:16px;
    line-height:18px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.slide:nth-child(1){
    background-image:url("../img/mobiles-head.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(1){
    display:block;
}
/*конец слайдера*/

/*ГЛАВНАЯ*/
.elements{
    display: block;
    margin-top: 80px;
    padding-bottom: 88px;
    border-bottom: 1px solid #eeeeee;
}

.elements-item {
    float: left;
    width: 360px;
    margin-right: 40px;
}

.elements-item span{
    text-transform: uppercase;
    font-weight: 400;
    font-size:24px;
    line-height:30px;
}

.elements-item:last-child {
    margin-right: 0;
}

.elements-item img {
    margin-bottom: 22px;
}

.about{
    padding-bottom: 58px;
    border-bottom: 1px solid #eeeeee;
}
.about-left {
    margin-top: 70px;
    float: left;
    width: 660px;
}


.about-left .task{
    text-align:left;
    text-transform: uppercase;
    font-size:16px;
    line-height:24px;
    margin-bottom: 50px;
}

.about-left p{
    margin-bottom: 50px;
}

.about-left span{
    text-align:left;
    font-weight: 400;
    font-size:45px;
    line-height:45px;
    margin-bottom: 60px;
}

/*.elements-item span{
    text-transform: uppercase;
    font-weight: 400;
    font-size:24px;
    line-height:30px;
}*/

.about-left li{
    position: relative;
    text-align:left;
    font-size:16px;
    line-height:24px;
    margin-bottom: 25px;
    list-style-type:square;
    text-decoration: none;
    list-style: none;
}

.about-left li::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #e50000;
    top: 10px;
    left:-40px;
}

.about-right {
    margin-top: 35px;
    float: right;
    width: 460px;
    margin-right: 0;
}
.about-right b{
    text-transform: uppercase;
    margin-left: 100px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
    left:0;
}

.about-right li{
    vertical-align: center;
    font-size:16px;
    line-height:18px;
    margin-top: 40px;
    margin-right: 15px;
    margin-left: 20px;
    left:0;
}

ul .percent {
    list-style: none;
    margin: :0;
    padding: 0;
    font-size: 0;
    text-align: right;
    margin: 50px 30px;
    margin-top: 40px;
}

ul.percent li {
    font-size: 45px;
    line-height:10,06px;
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

ul.percent li .level{
    font-size: 16px;
    line-height:18px;
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

.percent span:nth-child(1) {
    display: block;
    margin-bottom: 30px;
}

.features-name{
    margin-top: 30px;
    margin-bottom: 30px;
}

.partners{
    padding-bottom: 43px;
    padding-top: 50px;
    border-bottom: 1px solid #eeeeee;
}

.partners-item {
    display:inline-block;
    width:auto;
    margin-right: 60px;
    padding-left: 35px;
    vertical-align: middle;
}

.partners-item:last-child {
    margin-right: 0;
}

.elements-item .btn{
    display:block;
    width:112px;
    padding:16px 25px;
    margin-top:32px;
    font-size:16px;
    line-height: 18px;
    color:#ffffff;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.element1 .btn{
    background: #fb565a;
}
.element2 .btn{
    background: #fb565a;
}
.element3 .btn{
    background: #efc84a;
}

.element1,
.element2,
.element3{
    margin-top: 30px;
    margin-bottom: 30px;
}

.likes{
    display: block;
    text-align: right;
    margin-bottom: 30px;
}

/*КОНЕЦ ГЛАВНОЙ*/


/*КАТАЛОГ*/

.index-content-left {
    float: left;
    width: 260px;
    margin-left: 40px;
}

.index-content-right {
    float: right;
    width: 760px;
    font-size: 0;
}

.index-content-title {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 18px;
}

.index-content-select li{
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;
}

.index-content-select .gray{
    color: #d2d2d2;
}

.index-content-select {
    float: left;
    margin: 0;
    padding: 0;
}

.sorting span{
    float: left;
    margin-bottom: 80px;
    margin-right: 270px;
    padding-left: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.arrows{
    float: left;
    margin-right: 15px;
}

.arrow{
    float: left;
    margin-left: 20px;
    font-size: 0;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../img/sort-down.png");
    background-repeat: no-repeat;
    background-position: 3px center;
}

.arrow-down{
    background-image: url("../img/sort-up.png");
}

.producers-item {
    margin-bottom: 50px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
}

/*.products-item {
    margin-right: 4px;
    padding-left: 8px;
    vertical-align: middle;
}

.products-item label{
    margin-bottom: 10px;
}                                       отступы между строк в левом блоке*/

.card {
    position: relative;
    font-size: 16px;
    width: 360px;
    display: inline-block;
    vertical-align: top;
    margin: 0 40px 40px 0;
}

.card:nth-child(2n+2) {
    margin-right: 0;
}

.card:hover .card-content{
    display: block;
}

.card-content{
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    bottom:0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #eeeeee;
}

.card-content .btn {
    display:block;
    width: 160px;
    padding: 18px;
    margin-top:15px;
    margin-bottom: 20px;
    font-size:16px;
    color: #ffffff;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
    background: #fb565a;
}

.card-head{
    font-size: 0;
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-head li{
    display:inline-block;
    width:10px;
    height:10px;
    margin:0 4px;
    background:white;
    border:4px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
    text-decoration:none;
}

.card-name p{
    background-color: #eeeeee;
    color: #aeaeae;
    padding-left: 20px;
    padding-right: 20px;
}

.pagination{
    margin: 0;
    padding: 0;
}

.pagination li{
    display: inline;
    width: 440px;
    margin: auto;
    vertical-align: top;
}
.pagination a{
    text-decoration: none;
    list-style: none;
    color: #000000;
    font-size: 16px;
    line-height: 18px;
}

.show .btn {
    display:block;
    width:270px;
    padding:10px 0;
    margin-top:48px;
    font-size:16px;
    color:#000000;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
    background: #eeeeee;
}

.pagination .btn2,
.pagination .btn3 {
    display: inline-block;
    width:50px;
    padding:20px 10px;
    margin-top:60px;
    margin-right: 15px;
    margin-bottom:60px;
    font-size:16px;
    color: #000000;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
    background: #eeeeee;
    border: 3px solid #eeeeee;
}
.pagination .btn1{
   display: inline-block;
    width:50px;
    padding:20px 10px;
    margin-top:60px;
    margin-right: 15px;
    margin-bottom:60px;
    font-size:16px;
    color: #000000;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
    border: 3px solid #eeeeee;
    background: #ffffff;
}
.pagination .btn4{
    display: inline-block;
    width:260px;
    padding:20px 10px;
    margin-top:60px;
    margin-right: 85px;
    margin-bottom:60px;
    font-size:16px;
    color:black;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
    background: #eeeeee;
    border: 3px solid #eeeeee;
}
/*КОНЕЦ КАТАЛОГА*/

/*футер*/
.map{
    position: relative;
    margin-top: 83px;
    width: 100%;
    text-align: center;
}

. map-canvas{
    background-color: #eeeeee;
    text-align:center;
}

.letter .btn {
    position: relative;
    display:block;
    width:220px;
    padding:20px 0px;
    margin-top:40px;
    margin-bottom:45px;
    font-size:16px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
    background: #fb565a;
}

.map-content {
    width: 280px;
    height: 280px;
    text-align: left;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-580px,-50%);
    padding-top: 50px;
    padding-left: 50px;
}

.map-content b{
    font-size: 18px;
    line-height: 30px;
}

.map-content p{
    font-size: 16px;
    line-height: 18px;
}

.main-footer {
    padding-top: 50px;
}

strong{
    font-size: 36px;
    line-height: 36px;
}

.footer-advantages p{
    font-size: 16px;
    line-height: 22px;
}

.footer-social {
    float: left;
    width: 400px;
}

.footer-advantages span {
    float: left;
    width: 740px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}

.social-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 2px;
    border-radius: 45px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background: #e1e1e1 no-repeat center;
}

.social-btn:hover {
    background-color: #e1e1e1;
}

.social-btn-vk {
    background: #e1e1e1 url("../img/vk-icon.png") no-repeat center;
}

.social-btn-fb {
    background: #e1e1e1 url("../img/fb-icon.png") no-repeat center;
}

.social-btn-inst {
    background: #e1e1e1 url("../img/insta-icon.png") no-repeat center;
}

/*ОБЩЕЕ*/
b {
    color: #000000;
    font-family: "Roboto", "Arial", sans-serif;
    font-size:24px;
    line-height:30px;
    margin-bottom: 25px;
}

p {
    color: #000000;
    font-family: "Roboto", "Arial", sans-serif;
    font-size:16px;
    line-height:24px;
}

h1{
    float:left;
    margin-left: 200px;
    margin-right: 200px;
    font-size:55px;
    line-height: 24px;
    line-height:55px;
}
