body {
background-color: #ffffff; 
color: #000000; 
font-family: Myriad Pro Regular;
font-weight: regular sample;
font-size:16px;
line-height:18px;
}

b{
background-color: #ffffff; 
color: #000000; 
font-family: Myriad Pro Regular;
font-weight: regular sample;
font-size:45px;
line-height:45px;
}

p{
background-color: #ffffff; 
color: #000000; 
font-family: Myriad Pro Regular;
font-weight: regular sample;
font-size:16px;
line-height:24px;
}

